.ctn-desafio {
    box-sizing: border-box;
    border-radius: 16px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.ctn-desafio-info-head {
    box-sizing: border-box;
    height: 20%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.ctn-desafio-info {
    height: 55%;
    padding: 24px;
    box-sizing: border-box;
    display: inherit;
    flex-direction: column;
    justify-content: space-evenly;
    text-transform: capitalize;
    font-style: italic;
    font-size: 0.8em;

}

.ctn-desafio-btns {
    height: 25%;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    margin-right: 16px;


}

.ctn-desafio-info-title {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 8px;

}

.ctn-desafio-info-header {}

.ctn-desafio-info-body {
    line-height: 1.5em;
}


.ctn-desafio-info span {
    font-style: italic;
    color: gray;
    font-size: 0.8em;
    text-transform: capitalize;
}

.ctn-state {
    background-color: rgb(255, 254, 254);
    padding: 4px 10px;
    text-align: center;
    border-radius: 16px;
    color: rgb(164, 164, 164);
    font-style: italic;
    font-size: 0.7em;
    display: flex;
    align-items: center;
}

.ctn-state span {
    padding: 0 6px;
}

.ctn-desafio-numbers {
    margin: 10px;

    justify-content: center;
    align-items: center;
    display: flex;
}

.ctn-desafio-numbers .ctn-state {
    margin-left: 10px;
}
.menu-item span{
    margin-left: 10px;
}