.ctn-header-component{
  background-color: #f8f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  
  /* color: white; */
}

.ctn-name{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 8%;
 
}
.name{
 margin: 5px 20px;
 text-transform: capitalize;
  
}
.name-icon{
  
  
  padding: 5px;
  border-radius: 50%;

  background-color:#BAC5F4;
  
}
.ctn-icon{
  
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8em;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
 
}
.ctn-icon .icon{
  font-size: 3em;
  font-family: "Jersey 20", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-shadow: -2px -2px 2px rgb(197, 194, 194);
  letter-spacing: 12px;
}
.ctn-icon .icon.uno{
  color: rgb(207, 108, 237);
}
.ctn-icon .icon.dos{
  color: rgb(101, 101, 234);
}
.ctn-icon .icon.tres{
  color: rgb(114, 192, 119);
}
.ctn-icon .icon.cuatro{
  color: gold;
}
.ctn-header-icon-menu{
  display: none;
}

@media screen and (max-width: 600px) {
  .ctn-header-component{
    background-color: #131313;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    color: white;
  }
  
  .ctn-name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 8%;
   
  }
  .name{
   margin: 5px 20px;
   display: none;
    
  }
  .name-icon{
    
    
    padding: 5px;
    border-radius: 50%;
  
    background-color:#BAC5F4;
    
  }
  .ctn-icon{
    
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.6em;
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
   
  }
  .ctn-icon .icon{
   
    text-shadow: none;

  }
  .ctn-icon h1{
    text-shadow: 0 4px  rgba(97, 97, 97, 0.1);
  }
  .ctn-header-icon-menu{
    display: block;
    display: flex;
    padding: 0 15px;
    align-items: center;
   
  }
  .ctn-header-icon-menu:hover{
   border: 2px solid white;
   border-radius: 8px;
   
  }
}
