
.ctn-login-page {
    height: 90%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}

.login-page-header{
    box-sizing: inherit;
    width: 50%;
    padding: 0;
    height: 100%;
    background-image: url("../Images/login3.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.ctn-icon-login{
   
  display: flex;

    
    
}
.login-page-header-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
    align-items: start;
    height: 80%;

}
.ctn-icon-login-text{
    
    padding-bottom: 20px;
    color: rgb(2, 2, 2);
    letter-spacing: 2px;
    
}
.ctn-icon-login .icon{
    
    font-family: "Jersey 20", sans-serif;
    font-weight: 600;
    font-size: 10em;
    font-style: normal;
    text-shadow: -2px -2px 2px rgb(197, 194, 194);
    letter-spacing: 12px;


   
}
.ctn-icon-login .icon.uno{
    color: rgb(207, 108, 237);
 
  }
  .ctn-icon-login .icon.dos{
    color: rgb(101, 101, 234);
  }
  .ctn-icon-login .icon.tres{
    color: rgb(114, 192, 119);
  }
  .ctn-icon-login .icon.cuatro{
    color: gold;
  }
.ctn-login-page-form{
    
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-page {
    
    width: 70%;
   
    box-sizing: border-box;
    padding: 30px 50px;
    border-radius: 16px;
    height: 70%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.login-page form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.login-page .input {
    margin: 20px 0;
    width: 100%;
}

.login-page-title {
    width: 100%;
    text-align: start;
  
    margin-bottom: 20px;
    font-size: 1.5em;
}
.text-register{
    font-size: 0.7em;
    letter-spacing: 2px;
}
.ctn-btns{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: end;
}

@media screen and (max-width: 900px) {
    .ctn-login-page {
        box-sizing: border-box;
       
        height: 90%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .login-page-header{
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: none;
        background-position: none;
        background-size: none;
        background-repeat: none;
        display: none;
        
    }
    .ctn-login-page-form{
    
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login-page {
        
        width: 70%;
       
        box-sizing: border-box;
        padding: 30px 50px;
        border-radius: 16px;
        height: 70%;
      
        background: rgba(255, 255, 255, 0.19);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(11.5px);
        -webkit-backdrop-filter: blur(11.5px); 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
    
    .login-page form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .login-page .input {
        margin: 20px 0;
        width: 100%;
    }
    
    .login-page-title {
        width: 100%;
        text-align: start;
      
        margin-bottom: 20px;
        font-size: 1.2em;
    }
    .text-register{
        font-size: 0.7em;
    }
    .ctn-btns{
        margin-top: 20px;
        width: 100%;
        text-align: end;
    }
    
}
@media screen and (max-width: 600px) {
    .ctn-login-page {
        box-sizing: border-box;
        
        height: 90%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .login-page-header{
        width: 90%;
        display: flex;
        flex-direction: column;
        background-color: white;
        text-align: center;
        
    }
    .login-page-header{
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: none;
        background-position: none;
        background-size: none;
        background-repeat: none;
        display: none;
        
    }
    .ctn-icon-login{
       
    }
    .ctn-icon-login .icon{
    
        font-family: "Jersey 20", sans-serif;
        font-weight: 600;
        font-size: 7em;
        font-style: normal;
        text-shadow: -2px -2px 2px rgb(197, 194, 194);
        letter-spacing: 12px;
    
       
    }
    .login-page {
        
        width: 98%;
       
        box-sizing: border-box;
        padding: 30px 50px;
        border-radius: 16px;
        height: 70%;
     
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
    
    .login-page form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .login-page .input {
        margin: 20px 0;
        width: 100%;
    }
    
    .login-page-title {
        width: 100%;
        text-align: start;
      
        margin-bottom: 20px;
        font-size: 1.2em;
    }
    .text-register{
        font-size: 0.7em;
    }
    .ctn-btns{
        margin-top: 20px;
       
        width: 100%;
        text-align: end;
    }
    
} 