.ctn-suscribe{
    border-radius: 16px;
    padding: 16px;
   
    height: 30%;
   
    background-color: #dadaf0;
    
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ctn-imagen{
    filter: hue-rotate(50deg);
    height: 60%;
    background-image: url('../Images/sharelink.svg');
    background-size: cover;
    background-repeat: no-repeat;
}