:root{
    --main-color: black;
}
#root {
 box-sizing: border-box;
 background-color: white;
 height: 100vh;

}

.ctn-display {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.btn{
   
    border-radius: 8px;
    border: 1px solid black;
    padding: 8px 24px;
    margin-left: 8px;
    background-color: var(--main-color);
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1em;

}
.btn:hover{
    
    
    border: 1px solid black;
    background-color: white;
    color: rgb(0, 0, 0);
   
 
}
.btn.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.btn.icon span{
   
    margin-left: 10px;

}
.btn.secondary{
   color: black;
   background-color: white;
   border: 1px solid black;
    
    
}

.info-form{
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 4px;
    padding: 4px 6px;
    color: rgb(101, 101, 101);
}
.info-form span{
    font-size: 0.7em;
    font-style: italic;
    padding-left: 10px;
}
.error-form{
    background-color: rgb(255, 219, 219);
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 4px;
    padding: 4px 6px;
    color: rgb(187, 48, 48);
}
.error-form span{
    font-size: 0.7em;
    font-style: italic;
    padding-left: 10px;
}